{{define "description"}}
    <div class="container">
        <h2>What is this?</h2>
        <p>
            osu!acc is a tool to help improve your overall acc in the popular rhythm game <a href="osu.ppy.sh">osu!</a>
        </p>
        <br/>
        <h3>Accuracy</h3>
        <p>
            It can be difficult to determine where you should start to get better overall accuracy because of the
            weighting of your top plays. So this tool does it for you in an easily understandable way.
        </p>
        <p>
            To use it just enter your osu! username and click submit.
        </p>
        <p>
            The tool will then give you a list of plays that you made ordered by how much they weigh down your overall
            accuracy.
        </p>
        <br/>
        <p>
            Here is an example so you can understand the details:
        </p>
        <br/>
        <picture>
            <source srcset="/s/example.webp" type="image/webp">
            <source srcset="/s/example.png" type="image/jpeg">
            <img width="100%" src="/s/example.png" alt="Example">
        </picture>
        <br/>
        <br/>
        <p>
            In this example "Angel With A Shotgun (Sped Up Ver.)" is the title of the song,<br/>
            "The Cab" is the listed artist,<br/>
            "Sacred Bullet" the difficulty,<br/>
            "97.138%" your accuracy on the play and<br/>
            "-0.055%" the accuracy delta.<br/>
        </p>
        <br/>
        <p>
            A negative accuracy delta means that it if you didnt have this play your overall accuracy would be higher
            and
            a positive delta means that it would be lower without the play.
        </p>
        <p>
            The accuracy delta can be compared to the change in accuracy you see in the osu! client after submitting a
            play.
        </p>
        <br/>
        <h3>Impact</h3>
        <p>
            This tool can simulate how a new play with specific pp and accuracy would affect your overall stats
        </p>
        <br/>
        <p>
            To use it switch to the Impact tab at the top. Then enter your username, the pp and the acc of the play on a
            map you want to try.
        </p>
        <p>
            To find out how much pp a specific play would be worth use something like
            <a href="https://topplays.xyz/pp-calculator/" target="_blank" rel="noopener">topplays calculator</a> or
            <a href="https://osu.bitti.io" target="_blank" rel="noopener">oppai-web</a>.
        </p>
        <br/>
        <p>
            If you want to know what your rank with the new play would be just enter the simulated overall pp in
            <a href="https://osudaily.net/ppbrowser.php" target="_blank" rel="noopener">this estimator</a>. Although this might not be totally
            accurate.
        </p>
        <br/>
        <p>
            If you have any suggestions or questions feel free to dm me on discord: Atilo#2416
        </p>
        <br/>
        <p><a href="/auth">Restricted?</a></p>
    </div>
{{end}}