{{define "head"}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJCVDCBJYQ"></script>
    <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-QJCVDCBJYQ');
    </script>
    <script src="https://kit.fontawesome.com/700e627529.js" crossorigin="anonymous" async></script>
    <link rel="stylesheet" href="/s/font/Aller.css">
    <link rel="stylesheet" href="/s/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>
        osu!acc
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description"
          content="osu!acc is a tool to help improve your overall acc in the popular rhythm game osu!">
{{end}}