{{define "impact"}}
	<div class="container">
		<h3>Current</h3>
		<p>Performance Points: {{round .OldPP}}pp</p>
		<p>Accuracy: {{fmtpc .OldAcc}}%</p>
		<br/>
		<h3>Simulated on Map</h3>
		<p>Performance Points: {{.MapPP}}pp</p>
		<p>Accuracy: {{fmtpc .MapAcc}}%</p>
		<br/>
		<h3>Simulated Overall</h3>
		<p>Performance Points: {{round .SimulatedPP}}pp (
			{{- if gt .PPDelta 0.0 -}} + {{- end -}} {{- round .PPDelta -}}
			pp)</p>
		<p>Accuracy: {{fmtpc .SimulatedAcc}}% (
			{{- if gt .PPDelta 0.0 -}} + {{- end -}} {{- fmtpc .AccDelta -}}
			%)</p>
	</div>
{{end}}